
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');


.d-menu-container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 4%;
  padding: 8px;
}

h2 {
  color:  rgba(61, 4, 51, 0.979);
  font-size: 42px;
  font-family: 'Amatic SC', cursive;
  margin-bottom: -4%;
}

h4 {
  color:  rgba(61, 4, 51, 0.979);
  font-size: 24px;
  font-family: 'Amatic SC', cursive;
}

h6 {
  font-family: 'Cinzel', serif;
  font-size: larger;
  margin-left: -10%;
  color: rgba(61, 4, 51, 0.979);;
}

.d-menu-item {
  list-style: none;
  padding: 15px 30px;
  background-color: rgba(206, 147, 113, 0.836);
  margin-bottom: 6%;
  border-radius: 12px;
  -webkit-box-shadow: 10px 10px 20px -2px rgba(150,150,147,1);
  -moz-box-shadow: 10px 10px 20px -2px rgba(150,150,147,1);
  box-shadow: 10px 10px 20px -2px rgba(150,150,147,1);
  transition: all 0.15s;
}

.d-menu-item:hover {
    transform: scale(1.05);
    background-color: rgba(219, 188, 84, 0.979);
    -webkit-box-shadow: 10px 10px 14px 0px rgba(255,213,0,0.41);
-moz-box-shadow: 10px 10px 14px 0px rgba(255,213,0,0.41);
box-shadow: 10px 10px 14px 0px rgba(255,213,0,0.41);
}

.d-food {
  font-family: 'Cinzel', serif;
  color: rgb(245, 246, 216);
  font-size: 32px;
  margin-bottom: 2%;
}

.d-dollars {
  color: antiquewhite;
  font-size: 22px;
  font-family: 'Amatic SC', cursive;
}

.d-description {
  color: rgb(245, 237, 226);
  font-size: 26px;
  font-family: 'Amatic SC', cursive;
}


