
<ion-card *ngFor="let order of orders">
  <ion-card-header>
    <ion-card-subtitle>Ordered at {{ order.timeOfOrder }} </ion-card-subtitle>
    <ion-card-title>Table: {{ order.tableNum }} </ion-card-title>
  </ion-card-header>

  <ion-item>
    <ion-icon name="pin" slot="start"></ion-icon>
    <ion-label>Total: ${{ order.bill }}: </ion-label>
    <ion-button (click)="togglePaid(order)" fill="outline" slot="end">Paid!!</ion-button>
  </ion-item>

  <ion-card-subtitle>Food</ion-card-subtitle>
  <ion-card-content>
    {{ order.foodOrder }}
  </ion-card-content>
  <ion-card-subtitle>Drinks</ion-card-subtitle>
  <ion-card-content>
    {{ order.drinkOrder }}
  </ion-card-content>
</ion-card>