<div class="admin-container">
  <ion-title>
    <div class="ion-text-center">
      <h4>Ocras Menu Form</h4>
    </div>
  </ion-title>
  
  <form [formGroup]="this.crudService.menuForm">
    <h5>Business Info:</h5>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" [(ngModel)]="name" required='true' formControlName="name"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Address</ion-label>
      <ion-input type="text" [(ngModel)]="address" required='true' formControlName="address"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Number of tables</ion-label>
      <ion-input type="number" [(ngModel)]="tables" required='true' min=1 formControlName="tables"></ion-input>
    </ion-item>
    
    <form [formGroup]="this.crudService.itemForm">
      <h5>Add menu items:</h5>
      <ion-item>
        <ion-label position="floating">Item</ion-label>
        <ion-input type="text" [(ngModel)]="item" required='true' formControlName="item"></ion-input>
        <ion-label position="floating">Price</ion-label>
        <ion-input type="number" [(ngModel)]="price" inputmode='numeric' required='true' min='0' formControlName="price"></ion-input>
        <ion-label position="floating">Description</ion-label>
        <ion-input type="text" [(ngModel)]="description" required='true' formControlName="description"></ion-input>
        <ion-item>
          <ion-select interface="popover" [(ngModel)]="type" multiple="false" placeholder="Select Type" formControlName="type" required='true'>
            <ion-select-option value="drink">Drink</ion-select-option>
            <ion-select-option value="food">Food</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-item>
    </form>
  
    <button class="waves-effect waves-light btn col s12" (click)="addItem({item: item, price: price, description: description, type: type})">
      Add
    </button>
  
    <ion-list class="collection">
      <h6>Food Items:</h6>
      <ion-item *ngFor="let food of foodItems">
        <ion-label class="col s11"> Item: {{ food.item }} </ion-label>
        <ion-label class="col s11"> Price: ${{ food.price }} </ion-label>
        <ion-label class="col s11"> Description: {{ food.description }} </ion-label>
        <ion-icon class="col s1" name="trash" (click)="removeItem(food)"></ion-icon>
      </ion-item>
      <h6>Drink Items:</h6>
      <ion-item *ngFor="let drink of drinkItems">
        <ion-label class="col s11"> Item: {{ drink.item }} </ion-label>
        <ion-label class="col s11"> Price: ${{ drink.price }} </ion-label>
        <ion-label class="col s11"> Description: {{ drink.description }} </ion-label>
        <ion-icon class="col s1" name="trash" (click)="removeItem(drink)"></ion-icon>
      </ion-item>
    </ion-list>
  
    <div class="qrList">
      <div class="qrItem" *ngFor='let qrValue of qrValues'>
        <ngx-qrcode
          [elementType]="qrElementType"
          [errorCorrectionLevel]="qrCorrectionLevel"
          [value]="qrValue"
          cssClass="bshadow">
        </ngx-qrcode>
      </div>
    </div>
    
    
    <button class="waves-effect waves-light btn col s12" (click)="onSubmit()">
      Submit
    </button>
  </form>
</div>

