<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Menu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Customer</ion-title>
    </ion-toolbar>
  </ion-header>

  <p> Menu List</p>
  <ion-item> Burger....$4.99</ion-item> 
    <span> <button> Add Item</button></span>
  
  <ion-item> Coke....$1.99</ion-item> 
    <button> Add Item</button>
    <br>
  <ion-button> Will push order to DB</ion-button>
</ion-content>
